.catalog-img{
    max-width: 50%;
}

.product-card {
    text-align: center;
  }
  
  .product-card__image {
    width: 320px;
  }
  
  .product-card__name {
    font-size: 1.6rem;
  }
  
  .item-card {
    width: 100%;
    max-width: min-content;
    min-height: 45vh;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  
  .link{
    text-decoration: none;
  }